{% extends "::base.html.twig" %}

{% block title %}Blog - Liste des themes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Utilisateurs</h1>
            <p>La liste des themes du blog !</p>
            <a href="{{ path('admin_theme_add')}}">Ajouter un theme</a>
        </div>
        <div class="row">
            <ul>
                {% for theme in themes %}
                    <div class="col-md-12 col-xs-12">
                        <li>   {{ theme.title}}
                            {% if theme.getArticles is empty %}
                            <a href="{{ path('admin_theme_delete', { 'id': theme.id })}}" title="Supprimer le thème"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            {% endif %}
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
