{% extends "::base.html.twig" %}

{% block title %}Blog - Ajout d'un article{% endblock %}

{% block body %}
    <h2>Ajouter un article</h2>
    {% include "BlogBundle:Articles:form.html.twig" %}
{%  endblock %}