<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- STYLESHEETS -->
        <!-- Bootstrap --> <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% include 'menus/menu.html.twig' %}
        {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            {% include 'menus/anonymous-menu.html.twig' %}
        {% endif %}

        {% block body %}{% endblock %}
        <!-- SCRIPTS -->
        <!-- Jquery --> <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap --> <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>